body {
    background-color: lightblue;
}

@media screen and (min-width: 480px){
    body {
    background-color: lightyellow;
}
}
.link{
    color: blueviolet;    
}
.link:hover{
    background-color: yellow;
}

.link2{
    color: darkblue;    
}
.link2:hover{
    background-color: darkgreen;
}